/*
* @Author: Marte
* @Date:   2017-12-13 14:28:43
* @Last Modified by:   Marte
* @Last Modified time: 2017-12-13 15:25:12
*/

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    text-underline: none;
}
a:hover{
    text-decoration: none;
}
.navbar{
    margin-bottom:0px;
}
.menuactive>a{
    color:#efaa04;
}

.header{
    background-color: #111;
    padding:10px 0;
}
.navbar{
    margin-bottom: 0;
}
.navlist{
    color:#fff;
    border:1px solid #111;
}
.list>li>a{
    font-size: 16px;
    color:#fff;
    cursor: pointer;
}
.list>li>a:hover{
    color:#EFAA04;
    background-color: #111;
}
.list>li>a:visited{
    background-color: #111;
}
